# Pythonの標準的な無視ファイル
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# パッケージ管理
venv/
env/
*.egg-info/

# IDE関連（Visual Studio CodeやPyCharmなど）
.vscode/
.idea/

# Koyeb環境の設定ファイル
.yame/

# .env ファイル（環境変数を含む）
.env

# ログファイル
*.log

# 依存関係に関するファイル
pip-log.txt
pip-delete-this-directory.txt

# その他の無視すべきファイル
*.swp
.DS_Store
Thumbs.db
